<h2>Contas cadastradas</h2>
<%= button_to "Nova Conta", action: "new"  %>
<table class="account_table">
    <tr>
      <th><%= t 'activerecord.attributes.account.code' %></th>
      <th><%= t 'activerecord.attributes.account.total' %></th>
    </tr>

  <% @accounts.each do |account| %>
    <tr>
      <td><%= account.code %></td>
      <td><%= account.total %></td>
    </tr>
  <% end %>
  </table>