<!DOCTYPE html>
<html>
<head>
  <title>ChallengeElo</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://railsgirls.com/assets/bootstrap.css">
</head>
<body>
<% if notice %>
<p class="notice"><%= notice %></p>
<% end %>
<% if alert %>
<p class="alert"><%= alert %></p>
<% end %>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Agendamento de transferencias</a>
      <ul class="nav">
        <li class="active"><%= link_to t('.transfer_index'), transfer_index_path %></li>
        <li class="active"><%= link_to t('.accounts_index'), account_index_path %></li>
        <% if !current_user.nil? %>
        <li ><%= link_to t('.log_out'), destroy_user_session_path, :method => :delete %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="container">
<%= yield %>
</div>
<!-- <footer>
  <div class="container">
    Agendamento de Transferencias
  </div>
</footer> -->

</body>
</html>
